@page "/board"

<div class="board-wrapper">

	<div style="display: flex; justify-content: center; margin-bottom:20px;">
		<h1 style="@(_headerTextUnderLined ? "text-decoration: underline;" : "")">@ShowedText</h1>
	</div>
	<div style="display: flex; justify-content: center; margin-top:20px;">
		<ul style="display: flex; list-style: none; padding: 0;">
			<li style="cursor: pointer; margin-right: 20px; @(ShowedText =="Notice" ? "text-decoration: underline;" : "")" @onclick='() => UpdateHeaderText("Notice")'> Notice </li>
			<li style="cursor: pointer; margin-right: 20px; @(ShowedText =="FAQ" ? "text-decoration: underline;" : "")" @onclick='() => UpdateHeaderText("FAQ")'> FAQ </li>
			<li style="cursor: pointer; margin-right: 20px; @(ShowedText =="Q&A" ? "text-decoration: underline;" : "")" @onclick='() => UpdateHeaderText("Q&A")'> Q&A</li>
			<li style="cursor: pointer; margin-right: 20px; @(ShowedText =="1대1문의" ? "text-decoration: underline;" : "")" @onclick='() => UpdateHeaderText("1대1문의")'> 1대1문의 </li>
		</ul>

	</div>
	<div class="board-wrapper" style="display:block; justify-content:center;">
		<hr style="color:dimgray; height:10px; width:100%; width:80%;" />
	</div>
</div>

@code {

}
